<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mw.dao.UserKeyDuMapper">
  <resultMap id="BaseResultMap" type="com.mw.model.UserKeyDu">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="date_time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fdate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="uid" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="key_s" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="du_s" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="value_s" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dated" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, date_time, fdate, uid, key_s, du_s, value_s, dated
  </sql>
  <select id="selectByExample" parameterType="com.mw.model.UserKeyDuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_key_du
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_key_du
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_key_du
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mw.model.UserKeyDuExample">
    delete from user_key_du
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mw.model.UserKeyDu">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_key_du (id, date_time, fdate, 
      uid, key_s, du_s, value_s, 
      dated)
    values (#{id,jdbcType=INTEGER}, #{dateTime,jdbcType=VARCHAR}, #{fdate,jdbcType=VARCHAR}, 
      #{uid,jdbcType=BIGINT}, #{keyS,jdbcType=VARCHAR}, #{duS,jdbcType=VARCHAR}, #{valueS,jdbcType=VARCHAR}, 
      #{dated,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mw.model.UserKeyDu">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_key_du
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="dateTime != null">
        date_time,
      </if>
      <if test="fdate != null">
        fdate,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="keyS != null">
        key_s,
      </if>
      <if test="duS != null">
        du_s,
      </if>
      <if test="valueS != null">
        value_s,
      </if>
      <if test="dated != null">
        dated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="dateTime != null">
        #{dateTime,jdbcType=VARCHAR},
      </if>
      <if test="fdate != null">
        #{fdate,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="keyS != null">
        #{keyS,jdbcType=VARCHAR},
      </if>
      <if test="duS != null">
        #{duS,jdbcType=VARCHAR},
      </if>
      <if test="valueS != null">
        #{valueS,jdbcType=VARCHAR},
      </if>
      <if test="dated != null">
        #{dated,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mw.model.UserKeyDuExample" resultType="java.lang.Long">
    select count(*) from user_key_du
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_key_du
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dateTime != null">
        date_time = #{record.dateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.fdate != null">
        fdate = #{record.fdate,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.keyS != null">
        key_s = #{record.keyS,jdbcType=VARCHAR},
      </if>
      <if test="record.duS != null">
        du_s = #{record.duS,jdbcType=VARCHAR},
      </if>
      <if test="record.valueS != null">
        value_s = #{record.valueS,jdbcType=VARCHAR},
      </if>
      <if test="record.dated != null">
        dated = #{record.dated,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_key_du
    set id = #{record.id,jdbcType=INTEGER},
      date_time = #{record.dateTime,jdbcType=VARCHAR},
      fdate = #{record.fdate,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=BIGINT},
      key_s = #{record.keyS,jdbcType=VARCHAR},
      du_s = #{record.duS,jdbcType=VARCHAR},
      value_s = #{record.valueS,jdbcType=VARCHAR},
      dated = #{record.dated,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mw.model.UserKeyDu">
    update user_key_du
    <set>
      <if test="dateTime != null">
        date_time = #{dateTime,jdbcType=VARCHAR},
      </if>
      <if test="fdate != null">
        fdate = #{fdate,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="keyS != null">
        key_s = #{keyS,jdbcType=VARCHAR},
      </if>
      <if test="duS != null">
        du_s = #{duS,jdbcType=VARCHAR},
      </if>
      <if test="valueS != null">
        value_s = #{valueS,jdbcType=VARCHAR},
      </if>
      <if test="dated != null">
        dated = #{dated,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mw.model.UserKeyDu">
    update user_key_du
    set date_time = #{dateTime,jdbcType=VARCHAR},
      fdate = #{fdate,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=BIGINT},
      key_s = #{keyS,jdbcType=VARCHAR},
      du_s = #{duS,jdbcType=VARCHAR},
      value_s = #{valueS,jdbcType=VARCHAR},
      dated = #{dated,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>